html {
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #f0f0f0;
}
.topbar.ui.menu .header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.topbar.ui.menu .item {
  text-transform: uppercase;
}
.right-floated {
  float: right;
}

.journal-list {
  margin: 1rem 0rem;
}
.journal-list .entry:first-child {
  border-top: 1px solid #e0e0e0;
  border-radius: 0.35rem 0.35rem 0 0;
}
.journal-list .entry:last-child {
  border-radius: 0 0 0.35rem 0.35rem;
}
.journal-list .entry {
  display: -webkit-flex;
  display: flex;
  margin: 0rem;
  padding: 1rem;
  background: transparent;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}
.journal-list .entry:hover {
  cursor: pointer;
}
.journal-list .entry .icon-label {
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  width: 10%;
  min-width: 32px;
}
.journal-list .entry .content {
  width: 75%;
  color: rgba(0, 0, 0, 0.6);
}
.journal-list .entry .content a.header {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.journal-list .entry .extra {
  color: rgba(0, 0, 0, 0.6);
  width: 15%;
  text-align: right;
}

.journal-actions {
  padding: 2rem 0 0.5rem 0;
}
.journal-actions .ui.button {
  margin-right: 1rem;
}
.journal-actions .ui.button:last-child {
  margin-right: 0;
}
.not-visible {
  display: none !important;
}
.journal-pagination-header {
  margin: 2rem 0 1rem 0;
}

.pbar {
  position: relative;
  display: block;
  max-width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  background: white;
  border-radius: 0.2rem;
  font-size: 0.87rem;
  font-weight: bold;
  user-select: none;
  margin: 0.25rem 0 0.25rem 0;
}
.pbar:first-child {
  margin: 0 0 0.25rem 0;
}
.pbar:last-child {
  margin: 0.25rem 0 0 0;
}
.pbar .bar {
  display: block;
  line-height: 1;
  position: relative;
  border-radius: 0.2rem;
  height: 1.75rem;
}
.pbar .bar.green { background: #6dd58b; }
.pbar .bar.yellow { background: #f9ce6a; }
.pbar .bar.red { background: #ee7f74; }
.pbar .bar.blue { background: #6eb4e2; }
.pbar .label {
  position: absolute;
  top: 0.2rem;
  left: 1rem;
  color: white;
}
.pbar .label.green { color: #285d52; }
.pbar .label.yellow { color: #be7b01; }
.pbar .label.red { color: #90443c; }
.pbar .label.blue { color: #17537e; }
