html {
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #f0f0f0;
}
.topbar.ui.menu .header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.topbar.ui.menu .item {
  text-transform: uppercase;
}
.right-floated {
  float: right;
}

@media only screen and (max-width: 767px) {
  .macro-summary {
    display: none !important;
  }
}

.journal-list {
  margin: 1rem 0rem;
}
/*
.journal-list:first-child {
  margin-top: 0rem !important;
}
.journal-list:last-child {
  margin-bottom: 0rem !important;
}
*/
.journal-list .entry:first-child {
  border-top: 1px solid #e0e0e0;
  border-radius: 0.35rem 0.35rem 0 0;
}
.journal-list .entry:last-child {
  border-radius: 0 0 0.35rem 0.35rem;
}
.journal-list .entry {
  display: -webkit-flex;
  display: flex;
  margin: 0rem;
  padding: 1rem;
  background: transparent;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}
.journal-list .entry:hover {
  cursor: pointer;
}
.journal-list .entry .icon-label {
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  width: 10%;
  min-width: 32px;
}
.journal-list .entry .content {
  width: 75%;
  color: rgba(0, 0, 0, 0.6);
}
.journal-list .entry .content a.header {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.journal-list .entry .extra {
  color: rgba(0, 0, 0, 0.6);
  width: 15%;
  text-align: right;
}

.journal-actions {
  padding: 2rem 0 0.5rem 0;
}
.journal-actions .ui.button {
  margin-right: 1rem;
}
.journal-actions .ui.button:last-child {
  margin-right: 0;
}
.not-visible {
  display: none !important;
}
/* --- OLD --- */
/*
.topnav nav ul a {
  color: #607d8b;
  text-transform: uppercase;
}
.topnav nav .brand-logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 0 1.2rem 0 1.2rem;
  position: relative;
}
@media only screen and (max-width: 992px) {
  .topnav nav .brand-logo {
    position: absolute;
  }
}
.journal-area {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
  margin-left: 8.3333333333%;
}
@media only screen and (max-width: 767px) {
  .journal-area {
    width: 95%;
    margin-left: 3%;
  }
}
.journal-entry-title {
  font-weight: bold;
  text-transform: uppercase;
}

.not-visible {
  display: none;
}

.journal-actions {
  padding: 1rem;
  margin-top: 1rem;
}
.journal-actions a {
  margin: 0 0.3rem 0 0;
}
.journal-add-entry {
  margin-top: 1rem;
  background-color: white;
}
.journal-add-entry .form-header {
  border-bottom: 1px solid #bdbdbd;
  padding: 1.2rem;
}
.journal-add-entry .form-header .title {
  text-transform: uppercase;
  font-weight: bold;
}

.journal-add-recipe {
  background-color: white;
}

.close-btn {
  float: right;
}

.journal-segment .header {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.5rem 0 1rem 0;
}
.journal-segment .macro-summary {
  display: -webkit-flex;
  display: flex;
  padding: 1rem 1.2rem 1rem 1.2rem;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .journal-segment .macro-summary {
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;
  }
  .journal-segment .macro-summary .label, .journal-segment .macro-summary .macro {
    width: 50%;
    text-align: center;
  }
}
.journal-segment .macro-summary .label {
  font-weight: bold;
  text-transform: uppercase;
}
.journal-entry {
  display: -webkit-flex;
  display: flex;
  min-height: 87px;
  border-bottom: 1px solid #e0e0e0;
}
.journal-entry:hover {
  background-color: #f0f0f0;
}
.journal-entry .left-bookend {
  width: 7%;
  min-width: 70px;
  text-align: center;
  align-self: center;
}
.journal-entry .middle {
  width: 78%;
  align-self: center;
}
.journal-entry .right-bookend {
  width: 15%;
  text-align: center;
  align-self: center;
  margin-right: 10px;
}
.journal-entry .right-bookend:hover {
  color: #2196f3;
  background-color: #e0e0e0;
}

.pagination-area {
  margin-top: 1rem;
}
*/
